<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <h6>Employee List</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sl no</th>
                  <th>Name</th>
                  <th>EmailId</th>
                  <th>EmpId</th>
                  <th>City</th>
                  <th>State</th>
                  <th>ContactNo</th>
                  <th>Address</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                @for(item of employeeList; track $index) {
                <tr>
                  <td>{{$index + 1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.emailId}}</td>
                  <td>{{item.empId}}</td>
                  <td>{{item.city}}</td>
                  <td>{{item.state}}</td>
                  <td>{{item.contactNo}}</td>
                  <td>{{item.address}}</td>
                  <td class="text-center">
                    <button class="btn btn-primary" (click)="onEdit(item)">Edit</button>
                    <button class="btn btn-danger" (click)="onDelete(item.empId)">Delete</button>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        New Employee
      </div>
      <div class="card-body">
        <form [formGroup]="EmployeeForm">
          <div class="row">
            <div class="col-12">
              <label for="">Name</label>
              <input type="text" formControlName="name" class="form-control" required>
            </div>
            <div class="col-6">
              <label for="">Email</label>
              <input type="text" formControlName="emailId" class="form-control" required>
            </div>
            <div class="col-6">
              <label for="">EmpId</label>
              <input type="text" formControlName="empId" class="form-control" required>
            </div>
            <div class="col-6">
              <label for="">City</label>
              <input type="text" formControlName="city" class="form-control" required>
            </div>
            <div class="col-6">
              <label for="">State</label>
              <input type="text" formControlName="state" class="form-control" required>
            </div>
            <div class="col-6">
              <label for="">Contact</label>
              <input type="text" formControlName="contactNo" class="form-control" required>
            </div>
            <div class="col-6">
              <label for="">Pincode</label>
              <input type="text" formControlName="pincode" class="form-control" required>
            </div>
            <div class="col-12">
              <label for="">Address</label>
              <textarea formControlName="address" class="form-control" required></textarea>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <button type="button" class="btn btn-secondary" (click)="onReset()">Reset</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary" (click)="onSave()">Save Employee</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
